<style>
  .navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: #e8dcbf;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar div{
    padding: 8px;
  }

  .navbar div a {
    text-decoration: none;
    color: #3b3e86;
  }
  
  .navbar div a:hover {
    text-decoration: underline;
  }
</style>

<div class="navbar">
  <div><a href='{{ site.baseurl }}/'>HOME</a></div>
  <div><a href='{{ site.baseurl }}/W06/'>W06</a></div>
  <div><a href='{{ site.baseurl }}/W07/'>W07</a></div>
  <div><a href='{{ site.baseurl }}/W08/'>W08</a></div>
  <div><a href='{{ site.baseurl }}/W09/'>W09</a></div>
  <div><a href='{{ site.baseurl }}/W10/'>W10</a></div>
  <div><a href='{{ site.urlgithub }}'>GitHub</a></div>
</div>